<div class="navbar navbar-default navbar-fixed-bottom">

  <ul class="nav pull-left nav-left">
    <li><a class="btn" href="#home">Home</a></li>
  </ul>

  <ul class="nav pull-right nav-right">
    <li><a class="btn" href="#settings">Settings</a></li>
    <li><a id="userBtn" class="btn" href="#user">User</a></li>
  </ul>



  <div class="btn-toolbar">
    <div class="btn-group">
     <a id="gridBtn" class="btn" href="#grid">Grid</a>
    <a id="screenerBtn" class="btn" href="#screener">Screener</a>
    <a id="reportsBtn" class="btn" href="#reports">Reports</a>
    <a id="toolsBtn" class="btn" href="#tools">Tools</a>
    </div>
  </div>

  <div id="globalNav" class="btn-group pull-right">
    <a class="btn mred dropdown-toggle" data-toggle="dropdown" href="#">
      Quick Menu
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      
    </ul>
  </div>
</div>