<div class="navbar navbar-default navbar-fixed-bottom">

  <ul class="nav pull-left nav-left">
    <li><a class="btn" href="#home">Home</a></li>
  </ul>

  <ul class="nav pull-right nav-right">
    <li><a class="btn" href="#">Settings</a></li>
    <li><a id="userBtn" class="btn" href="#user">User</a></li>
  </ul>

  <div id="globalNav" class="btn-group pull-right">
    <a class="btn mred dropdown-toggle" data-toggle="dropdown" href="#">
      Quick Menu
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      
    </ul>
  </div>
</div>