<!-- Begin page content -->
<div class="container">
  <div class="page-header">
    <h1>Mercury > Home</h1>
  </div>
  <p class="lead">This is the Mercury Homepage. The starting point of your journey.</p>
</div>