<!-- Begin page content -->
<div class="container">
  <div class="page-header">
    <h1>Mercury > User</h1>
  </div>
  <p class="lead">This is your Mercury User Page. Like facebook but minus your friend's pictures of babies.</p>
</div>